# ------------------ Python ------------------
__pycache__/
*.py[cod]
*.pyo

# ------------------ Virtual Environments ------------------
venv/
.env/
.venv/

# ------------------ Environment Variables ------------------
.env

# ------------------ Databases ------------------
*.sqlite3
*.db

# ------------------ Logs ------------------
*.log

# ------------------ OS Files ------------------
.DS_Store
Thumbs.db

# ------------------ IDE ------------------
.vscode/
.idea/


.env
__pycache__/
venv/
reviseai.db
desktop.ini